@font-face {
    font-family: 'neusa_extraboldregular';
    src: url('../fonts/Neusa-ExtraBold-webfont.eot');
    src: url('../fonts/Neusa-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neusa-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/Neusa-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/Neusa-ExtraBold-webfont.svg#neusa_extraboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neusa_boldregular';
    src: url('../fonts/Neusa-Bold-webfont.eot');
    src: url('../fonts/Neusa-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neusa-Bold-webfont.woff') format('woff'),
         url('../fonts/Neusa-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Neusa-Bold-webfont.svg#neusa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'neusa_mediumregular';
    src: url('../fonts/Neusa-Medium-webfont.eot');
    src: url('../fonts/Neusa-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neusa-Medium-webfont.woff') format('woff'),
         url('../fonts/Neusa-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Neusa-Medium-webfont.svg#neusa_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'function_probook';
    src: url('../fonts/FunctionPro-Book-webfont.eot');
    src: url('../fonts/FunctionPro-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FunctionPro-Book-webfont.woff') format('woff'),
         url('../fonts/FunctionPro-Book-webfont.ttf') format('truetype'),
         url('../fonts/FunctionPro-Book-webfont.svg#function_probook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'function_pro_bookbold';
    src: url('../fonts/FunctionPro-Bold-webfont.eot');
    src: url('../fonts/FunctionPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FunctionPro-Bold-webfont.woff') format('woff'),
         url('../fonts/FunctionPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/FunctionPro-Bold-webfont.svg#function_pro_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'function_promedium';
    src: url('../fonts/FunctionPro-Medium-webfont.eot');
    src: url('../fonts/FunctionPro-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FunctionPro-Medium-webfont.woff') format('woff'),
         url('../fonts/FunctionPro-Medium-webfont.ttf') format('truetype'),
         url('../fonts/FunctionPro-Medium-webfont.svg#function_promedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body { margin:0; padding:0; 
		font-family: 'function_probook';
		font-size:18px;}
.map{
		background:#ebf0f2;
    position:absolute; 
    top:50px; 
    bottom:0;
		left:0; 
    right:0; }

.menu-ui {
  background:#fff;
  position:absolute;
  top:60px;right:10px;
  z-index:1;
  width:120px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      }
    .menu-ui a:last-child {
      border:none;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active {
      background:#a7a7a7;
      color:#FFF;
      }
		
a {
color: black;
text-decoration: none;
}
        
/* HEADER & FOOTER*/

.navbar-brand {
font-family: 'neusa_boldregular';
text-transform: uppercase;
font-size:16px;
}


a.small.toggle-info {
position: relative;
top: 12px;
}

@media (min-width: 768px){
	.navbar-brand {
	font-size:30px;
	}
	a.small.toggle-info {
	top: 17px;
	}
}


.navbar-header{float:none;
background: white;}

.navbar-fixed-top, 
.navbar-fixed-bottom {
  z-index:4999;
}
.navbar-fixed-bottom {
  position: absolute;
  border: 0 none;
}

.navbar {
  height: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

footer.open-aside .hidden-aside,
footer .footer-links-aside {
  display: none;
}

footer.open-aside .footer-links-aside {
  display: block;
}

.footer-links-left-text {
  margin: 14px 5px;
}

.footer-links-left-text li:first-child a {
  border-right: 1px solid #95977D;
}

.footer-links-left-text a {
  color: #777B71;
  padding: 0 5px;
}

.footer-links-left-text a:hover {
  color: #95977D;
}

.navbar {
  background: #F4F3EA;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.navbar a.toggle-aside {
  font-weight: bold;
  padding-right: 10px;
}

.legend-container {
	position: absolute;
	top: 145px;
	z-index: 1;
	right: 20px;
}

.legend-label{
	font-size:12px;
	margin-top: 5px;
	}

.line{
	width:100%;
	height:1px;
	background:black;
	margin-bottom: 10px;}

.circle {
	width: 10px;
	height: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}
.red{
	background:#2c7bb6;
}
.blue{
	background:#d7191c;
}




.information {
position: absolute;
top: 0px;
width: 100%;
height: 100%;
z-index: 1000;
right: 0;
left: 0;
bottom: 0;
}

.information-box {
margin: 0px auto;
top: 50px;
position: relative;
width: 100%;
height:100%;
background: white;
padding:20px;
opacity:0.7;
}

@media (min-width: 768px){
	.information-box {
		top: 30%;
		width: 500px;
		height:auto;
		opacity:1;
	}
	.information {
		background-color: rgba(0,0,0,0.4);
	}
}

.X-button {
position: absolute;
top: 0px;
right: 5px;
font-size: 20px;
}	

/* fullscreen specific */
.fullscreen .hidden-fullscreen,
.standalone .hidden-fullscreen,
.standalone .hidden-standalone,
.visible-fullscreen {
  display: none !important;
}

.fullscreen .visible-fullscreen {
  display: block !important;
}

/* SPRITE */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  background: url('../img/sprite.png') no-repeat top left;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.icon-fullscreen {background-position: -50px 0;}
.icon-fullscreen-close {background-position: -50px -50px;}
a:hover .icon-fullscreen {background-position: 0 0;}
a:hover .icon-fullscreen-close{background-position: 0 -50px;}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

  [class^="icon-"], [class*=" icon-"] {
    background-image: url('../img/sprite@2.png');
    background-size: 100px 100px;
  }
}